.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 50px;
  background-color: #ffffff; 
  border-bottom: 3px solid #eeb134;
  box-shadow: 0 4px 6px rgba(243, 179, 5, 0.05);
}

.navbar.logo {
 
  display: flex;
  align-items: center;
  gap: 40px; /* Separación por si pones el logo del ISBH y el de la UPC juntos */

}

.navbar-logo img {
  height: 50px; /* Ajusta este valor según el tamaño real de tus imágenes */
  width: auto;
  padding-left: 10px;
  padding-right: 20px;
}

.navbar-menu {
  display: flex;
  gap: 30px; /* Espacio entre cada palabra del menú */
  list-style: none; /* Quita los puntitos feos de las listas <ul> */
  margin: 0;
  padding: 0;
}
.navbar-menu li a {
  text-decoration: none; /* Quita el subrayado azul por defecto */
  color: #6c757d; /* Un gris medio oscuro y elegante, como en tu imagen */
  font-size: 1.4rem;
  font-weight: 500;
  transition: color 0.3s ease; /* Hace que el cambio de color sea suave */
}
.navbar-menu li a:hover {
  color: #eeb134; /* Se pinta del dorado institucional al pasar el cursor */
}

.whatsapp-flotante {
  position: fixed; /* Esto es lo que lo hace "flotar" en la pantalla */
  bottom: 30px; /* Distancia desde abajo */
  right: 30px; /* Distancia desde la derecha */
  width: 60px;
  height: 60px;
  background-color: #08b849; /* Color verde oficial de WhatsApp */
  border-radius: 50%; /* Lo hace un círculo perfecto */
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Sombrita para que resalte */
  z-index: 1000; /* Asegura que siempre esté por encima de las tarjetas y el footer */
  transition: transform 0.3s ease;
}

.whatsapp-flotante img {
  width: 35px;
  height: 35px;
}

.whatsapp-flotante:hover {
  transform: scale(1.0);
}